.assessment-navbar-top {
    font-family: 'Poppins', sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    height: 69px;
    border-bottom: 1px solid #ddd;
    background-color: #FFF5F1;
    box-shadow: 0 3px 4px rgba(89, 89, 89, 0.244);
}

.assessment-navbar-top .bi-arrow-left-circle{
    font-size: 20px;
    font-weight: bolder;
    color: #B84C20;
    border: none;
    margin-inline: 10px;
    padding-left: 20px;
}

.assessment-navbar-top .bi-arrow-left-circle:hover{
    color: #e4bcac;
}

.assessment-navbar-top p{
    margin: auto 0;
    font-size: 17px;
    color: #B84C20;
}

.assessment-navbar {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 15px;
    margin-right: 10px;
}

.assessment-navbar .bi{
    color: #B84C20;
    margin-right: 20px;
}

.assessment-content{
    background-color: #E2E4EB;
    min-height: 100vh;
    max-height: max-content;
}

.item{
    background-color: #FFF5F1;
    margin-top: 7px;
    border-radius: 10px;
    box-shadow: 0 3px 4px rgba(89, 89, 89, 0.544);
    padding: 10px;
    padding-left: 15px;
}

.item-details{
    background-color: #FFF5F1;
    margin-top: 7px;
    border-radius: 10px;
    box-shadow: 0 3px 4px rgba(89, 89, 89, 0.544);
    padding: 10px;
    padding-left: 15px;
}

.item h6{
    margin-bottom: 0;
    font-weight: 700;
    color: #B84C20;
    text-decoration: none;
}

.item .point{
    margin-bottom: 0;
    font-size: small;
    font-style: italic;
    color: #B84C20;
    text-decoration: none;
}

.item-details h5{
    margin-bottom: 0;
    font-weight: 700;
    color: #B84C20;
}

.item-details p{
    font-size: 11px;
    color: #B84C20;
}

.item-details .item-description{
    margin-bottom: 5px;
    font-size: small;
    color: #B84C20;
    text-align: justify;
}

.item-details .sample-output{
    background-color: #D3CCC9;
    color: #B84C20;
    text-align: center;
    border-radius: 10px;
    padding: 40px;
}

.col-compiler{
    background-color: #ffffff;
    padding: 10px;
    min-height: 100vh;
    max-height: max-content;
}

.compiler-container{
    background-color: #EFF0F5;
    min-height: 100vh;
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.compiler-left-corner{
    display: flex;
    justify-content: baseline;
    align-items: center;
    font-size: smaller;
    font-weight: bold;
}

.compiler-left-corner .nav-tabs .nav-link {
    background-color: transparent !important;
    color: #B84C20 !important;
    font-weight: bold !important;
    border-bottom: 4px solid #B84C20 !important;
    border-left: 0;
    border-right: 0;
    border-top: transparent;
}

.compiler-right-corner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
}

.compiler-dropdown .dropdown-toggle{
    background-color: #F5DAD0 !important;
    color: #B84C20 !important;
    font-size: small;
    border: none;
    border-radius: 20px;
}

.compiler-dropdown .dropdown-toggle:hover{
    background-color: #eab8a7 !important;
    color: #ab3e14 !important;
}

.compiler-dropdown .dropdown-item {
    color: #C4907B;
    background-color: #FFF5F1;
}
  
.compiler-dropdown .dropdown-item:hover {
    background-color: #F5DAD0;
    color: #B84C20;
}

.compiler-header-border{
    border: 1px solid #9196A1;
}

.compiler-bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #9196A1;
}

.compiler-bottom button{
    border: none;
    border-radius: 20px;
    color: #EFF0F5;
    font-size: large;
    font-weight: 600;
    padding: 8px;
    padding-inline: 20px;
    width: 430px;
}

.compiler-bottom .run{
    background-color: #76C7C5;
}

.compiler-bottom .run-icon{
    color: #457574;
    margin-right: 5px;
}

.compiler-bottom .check{
    background-color: #84C776;
}

.compiler-bottom .check-icon{
    color: #ffffff;
    margin-right: 5px;
}

.compiler-bottom .run:hover{
    background-color: #5d9c9b;
}

.compiler-bottom .check:hover{
    background-color: #6da963;
}

.item-navigation{
    background-color: #FFF5F1;
    margin-top: 7px;
    border-radius: 10px;
    box-shadow: 0 3px 4px rgba(89, 89, 89, 0.544);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.item-navigation p{
    color: #B84C20;
    font-weight: bold;
    margin-bottom: 5px;
}

.item-navigation .item-button{
    width: 30px;
    margin-bottom: 30px;
    margin-right: 5px;
    background-color: #C79E8E;
    border: none;
}

.item-navigation .item-button:hover{
    background-color: #cc653d;
    border: none;
}

.item-navigation .item-button:active{
    background-color: #B84C20 !important;
    border: none;
}

.item-navigation .item-button.active{
    background-color: #B84C20;
    border: none;
}

.item-navigation .finish{
    background-color: #B84C20;
    border: none;
    border-radius: 20px;
    width: 100%;
}

.activity-summary .modal-content{
    border-radius: 20px;
    border: none;
}

.activity-summary .modal-body{
    display: flex;
    flex-direction: column;
    background-color: #FFF5F1;
    border-radius: 20px;
    padding: 20px;
    height: 500px;
}

.activity-summary .modal-body h3{
    color: #B84C20;
    font-weight: bold;
    margin-bottom: 20px;
}

.activity-summary .modal-body .item-summary{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid #B84C20;
    border-radius: 15px;
    padding: 5px;
    padding-left: 20px;
    margin-bottom: 15px;
    cursor: pointer;
}

.activity-summary .modal-body .item-summary:hover{
    background-color: #F5DAD0;
    border: none;
}

.activity-summary .modal-body .item-summary p{
    color: #B84C20;
    margin-bottom: 0;
    margin-right: 10px;
    font-weight: 700;
    align-self: center;
}

.activity-summary .modal-body .item-summary button{
    background-color: #9ed5d5;
    border: none;
    border-radius: 20px;
    font-size: xx-small;
    padding: 0;
    padding-inline: 10px;
    height: 15px;
    align-self: center;
}

.activity-summary .modal-body .item-summary .bi-arrow-right-circle{
    margin-left: auto;
    color: #B84C20;
    font-size: larger;
}

.activity-summary .submit-finish{
    margin-top: auto;
    margin-left: auto;
}

.activity-summary .submit-finish button{
    background-color: #84C776;
    border: none;
    border-radius: 20px;
    font-size: smaller;
    font-weight: 500;
}

.activity-score .modal-content{
    border-radius: 20px;
    border: none;
}

.activity-score .modal-body .col-activity-details{
    border-bottom: 1px solid #9196A1;
    display: flex;
    flex-direction: column;
}

.activity-score .modal-body .col-robot{
    border-right: 1px solid #9196A1;
    border-bottom: 1px solid #9196A1;
}

.activity-score .modal-body{
    display: flex;
    flex-direction: column;
    background-color: #FFF5F1;
    border-radius: 20px;
    padding: 20px;
    color: #C23535;
}

.activity-score{
    background-color: #2f2f2f67;
}

.activity-score .modal-body .robot{
    display: flex;
    align-items: center;
    justify-content: center;
}

.activity-score .modal-body .robot img{
    height: 200px;
}

.activity-score .modal-body .activity-details h4{
   margin-bottom: 0;
   margin-top: 10px;
   font-weight: bold;
}

.activity-score .modal-body .activity-details p{
    font-style: italic;
    font-size: smaller;
 }

.activity-score .modal-body .activity-item-score{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activity-score .modal-body .activity-item-score p{
    margin-bottom: 0;
    font-size: small;
    font-weight: 600;
}

.activity-score .modal-body .col-activity-details button{
    background-color: #76C7C5;
    border: none;
    border-radius: 20px;
    width: 70%;
    margin-top: 20px;
    align-self: center;
}

.activity-score .modal-body .col-activity-details button:hover{
    background-color: #5a9897c2;
}

.activity-score .modal-body .activity-standing-button{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activity-score .modal-body .activity-standing-button p{
    margin-bottom: 0;
    margin-top: 20px;
    font-weight: bold;
}

.activity-score .modal-body .activity-standing button{
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 15px solid #E2D8D3;
    background-color: #FFF5F1;
    color: #B84C20;
    font-weight: 600;
    margin-top: 0;
}

.item-navigation .finish:hover{
    background-color: #b84b20d5;
    border: none;
}

.test-container{
    background-color: #FFF5F1;
    margin-top: 7px;
    border-radius: 10px;
    box-shadow: 0 3px 4px rgba(89, 89, 89, 0.544);
    min-height: 70vh;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.test-header{
    background-color: #D3CCC9;
    color: #B84C20;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 3px 4px rgba(128, 128, 128, 0.544);
}

.test-case{
    margin-top: 10px;
    margin-inline: 10px;
    padding-inline: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C79E8E;
    color: white;
    border-radius: 20px;
}

.test-case button{
    height: 22px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: #D9D9D9;
    border: none;
}

.test-case p{
    margin-block: 0;
    font-weight: 600;
}

.test-case i{
    margin-left: auto;
    font-size: x-large;
    cursor: pointer;
    color: #c4faba;
}

.test-footer{
    margin-top: auto;
    background-color: #D3CCC9;
    color: #B84C20;
    font-weight: bold;
    padding: 5px;
    padding-left: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 3px 4px rgba(128, 128, 128, 0.544);
}

.test-footer p{
    margin-bottom: 0;
}