.bulletin-content{
    font-family: 'Poppins';
    height: fit-content;
    background-color: #CCCFDA;
}

.bulletin-header{
    background-color: #FFF5F1;
    margin-top: -80px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bulletin-search{
    background-color: #CCCFDA;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    border-radius: 20px;
    padding: 7px;
    margin: 0 auto;
}

.bulletin-search input{
    border: none;
    outline: none;
    background-color: #CCCFDA;
    width: 100%;
    font-size: small;
}

.bulletin-search i{
    padding-right: 5px;
    cursor: pointer;
}

.announcement{
    background-color: #FFF5F1;
    margin-top: 20px;
    padding-bottom: 20px;
    height: fit-content;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.announcement-header{
    background-color: #F5DAD0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
}

.announcement-header h5{
    text-align: center;
    color: #B84C20;
    font-weight: 700;
    margin-bottom: 0;
}

.post-card{
    width: 90%;
    align-self: center;
    margin-top: 20px;
    box-shadow: 0 3px 4px rgba(46, 46, 46, 0.244);
    overflow: hidden;
}

.post-card .card-header{
    background-color: #F5DAD0;
    padding: 20px;
}

.post-card .card-header h2{
    color: #B84C20;
    font-weight: bold;
    margin-bottom: 0;
}

.post-card .card-header p{
    color: #9196A1;
    font-size: smaller;
    margin-bottom: 0;
}

.post-likes{
    display: flex;
    align-items: center;
}

.post-card .card-body .post-likes i{
    color: #B84C20;
    font-size: x-large;
    margin-right: 5px;
    cursor: pointer;
}

.post-card .card-body .post-likes p{
    color: #9196A1;
    font-size: small;
    margin: 0;
}

.concern{
    background-color: #FFF5F1;
    margin-top: 20px;
    min-height: 100vh;
    height: fit-content;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.concern-header{
    background-color: #F5DAD0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
}

.concern-header h5{
    text-align: center;
    color: #B84C20;
    font-weight: 700;
    margin-bottom: 0;
}

.concern button{
    width: 45%;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #76C7C5;
    font-weight: 600;
    color: #FFF5F1;
    border: none;
    align-self: center;
}

.post-concern .modal-content{
    overflow: hidden;
    
    border-radius: 20px;
}

.post-concern .modal-header{
    background-color: #F5DAD0;
}

.post-concern .modal-header h3{
    color: #B84C20;
    font-weight: 700;
    margin-bottom: 0;
}

.post-concern .modal-header p{
    font-size: small;
    margin-bottom: 0;
    color: #9196A1;
}

.post-concern .modal-body{
    height: 200px;
    border-radius: 20px;
}

.post-concern .modal-body .post-concern-textarea{
    width: 100%; 
    min-height: 150px;
    max-height: 200px;
    border: none;
    outline: none;
    resize: none;
    padding: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.post-concern .modal-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-concern .modal-footer button{
    background-color: #84C776;
    border: none;
    border-radius: 20px;
    padding-inline: 20px;
    font-weight: 600;
}

.post-concern .modal-footer button:hover{
    background-color: #83c776b7;
    border: none;
}

.concern-body{
    padding: 20px;
}

.concern .concern-details{
    border: 1px solid #9196A1;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 0 3px 4px rgba(144, 144, 144, 0.244);
}

.concern .concern-details h6{
    color: #B84C20;
    font-weight: bold;
    margin-bottom: 0;
}

.concern .concern-details p{
    color: #9196A1;
    font-size: small;
}

.concern-body .concern-details .concern-message{
    color: #2C2829;
    font-size: 15px;
}

.concern-body .concern-actions{
    display: flex;
    justify-content: space-between;
    color: #2C2829;
}

.concern-body .concern-actions p{
    margin: auto 0;
    margin-bottom: 0;
}

.concern-body .concern-actions i{
    cursor: pointer;
    color: #76C7C5;
    font-size: medium;
    margin-left: 5px;
}