.class-navbar-top {
    font-family: 'Poppins';
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
    background-color: #FFF5F1;
    box-shadow: 0 3px 4px rgba(89, 89, 89, 0.244);
}

.class-navbar-top .bi-arrow-left-circle{
    font-size: 20px;
    font-weight: bolder;
    color: #B84C20;
    border: none;
    margin-inline: 10px;
    padding-left: 20px;
    cursor: pointer;
}

.class-navbar-top .bi-arrow-left-circle:hover{
    color: #e4bcac;
}

.class-navbar-top p{
    margin: auto 0;
    font-size: 17px;
    color: #B84C20;
}

.navbar-center{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    padding-left: 20px;
    position: absolute;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
}

.navbar-center #tab .nav-item {
    margin: 0 20px;
}

.navbar-center .nav-tabs .nav-link {
    color: #eab8a7;
    border: none;
    border-bottom: 2px solid transparent;
    font-weight: normal;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.navbar-center .nav-tabs .nav-link.active {
    background-color: transparent !important;
    color: #B84C20 !important;
    font-weight: bold !important;
    border-bottom: 5px solid #B84C20 !important;
    border-left: 0;
    border-right: 0;
    border-top: transparent;
}

.navbar-center .nav-tabs .nav-link:hover {
    border-bottom: 2px solid #b84b2086; 
}

.class-management{
    background-color: #CCCFDA;
    height: 100vh;
    min-height: fit-content;
}

.class-content{
    padding: 50px;
    width: 70% !important;
    font-family: 'Poppins';
}

.class-content #tab .nav-item .nav-link{
    color: #C4907B;
    font-size: 15px;
    border: none;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.class-content #tab .nav-item .nav-link.active {
    background-color: #FFF5F1 !important;
    color: #B84C20 !important;
    font-weight: bold !important;
    border: none !important;
}

.ongoing-class-activities{
    background-color: #FFF5F1;
    padding: 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.completed-class-activities{
    background-color: #FFF5F1;
    padding: 30px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.class-activities{
    background-color: #FFF5F1;
    border: 2px solid #9196A1;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 3px 4px rgba(89, 89, 89, 0.244);
}

.activity-details-column{
    border-right: 2px solid #9196A1;
}

.activity-details-column .class-activity-details a{
    text-decoration: none;
}

.activity-details-column .class-activity-details h3{
    font-weight: bold;
    color: #2C2829;
    margin-bottom: 0;
}

.class-activity-details{
    margin-bottom: 30px;
}

.class-activity-details p{
    color: #9196A1;
    font-size: small;
    margin-bottom: 0;
}

.class-activity-details button{
    border: none;
    border-radius: 20px;
    background-color: #E2D8D3;
    font-size: small;
    color: #B84C20;
    padding-inline: 7px;
}

.class-activity-details button img{
    height: 20px;
}

.class-activity-date{
    font-size: 15px;
    margin-left: 10px;
    color: #2C2829;
}

.class-activity-date p{
    margin-bottom: 5px;
}

.class-activity-date .bi-calendar-check{
   color: #84C776;
}

.class-activity-date .bi-calendar-x{
    color: #dd0a0a;
}

 .class-activity-standing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    color: #2C2829;
}

.class-activity-standing button{
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 15px solid #E2D8D3;
    background-color: #FFF5F1;
    color: #B84C20;
    font-weight: 600;
}

.modal-activity-details .modal-dialog .modal-content{
    border-radius: 30px !important;
}

.modal-activity-details .modal-header{
    background-color: #F5DAD0;
    height: 90px;
}

.modal-activity-details .modal-activity-header{
    display: flex;
    flex-direction: column;
    background-color: #F5DAD0;
}

.modal-activity-details .modal-activity-header h3{
    color: #B84C20;
    font-weight: bold;
    margin-bottom: 5px;
}

.modal-activity-details .modal-activity-header p{
    color: #9196A1;
    font-size: small;
    margin-bottom: 0;
}

.modal-activity-details .modal-body{
    background-color: #FFF5F1;
}

.modal-activity-details .modal-body p{
    color: #2C2829;
    font-size: small;
    margin-bottom: 0;
}

.modal-activity-details .modal-footer{
    display: flex;
    justify-content: space-between;
    background-color: #FFF5F1;
    border-top: 2px solid #9196A1;
}

.modal-activity-details .modal-footer p{
    color: #2C2829;
    margin-bottom: 5px;
    font-size: 15px;
}

.modal-activity-details .modal-footer .bi-list-ol{
    color: #B84C20;
    font-size: 17px;
 }

.modal-activity-details .modal-footer .bi-calendar-check{
    color: #84C776;
 }
 
 .modal-activity-details .modal-footer .bi-calendar-x{
     color: #dd0a0a;
 }

 .modal-activity-details .modal-footer button{
    background-color: #84C776;
    border: none;
    border-radius: 30px;
    padding-inline: 50px;
    padding-block: 15px;
    font-weight: 600;
}