.feature {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    padding: 50px 20px;
}

.main-feature-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding-bottom: 50px;
  }
  
  .main-feature-title h2 {
    padding-bottom: 30px;
    font-weight: bold;
    color: #2C292A;
    text-align: center;
  }

  .main-feature h3 {
    font-size: 15px;
    font-weight: 800;
  }

  .main-feature p {
    font-size: 12px;
    color: #707070;
    width: 350px;
    margin: 0 auto;
  }
  
  .main-feature-img img {
    height: 40px;
    margin-bottom: 10px;
  }

.feature-1 img{
    height: auto;
    width: 90%;
    display: block;
    margin: 0 auto;
}

.feature-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
}

.feature-desc h3{
    color: #2C292A;
    font-weight: bold;
    text-align: right;
}

.feature-desc .feature-header-right{
    text-align: left;
}

.feature-desc .feature-text-left{
    color:#707070;
    font-size: smaller;
    text-align: right;
}

.feature-desc .feature-text-right{
    color:#707070;
    font-size: smaller;
    text-align: left;
}

.feature-2 img{
    height: auto;
    width: 45%;
    display: block;
    margin: 0 auto;
    margin-right: 0;
}

.feature-3 img{
    height: auto;
    width: 60%;
    display: block;
    margin: 0 auto;
}
